trigger:
  - main
  - refs/tags/v*

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self
    fetchDepth: 0

  - task: NodeTool@0
    displayName: 'Install Node.js'
    inputs:
      versionSpec: '24.x'

  - task: Bash@3
    displayName: 'Install yarn global'
    inputs:
      targetType: 'inline'
      script: |
        npm i -g yarn

  - task: Bash@3
    displayName: 'Install dependencies'
    inputs:
      targetType: 'inline'
      script: |
        yarn install --frozen-lockfile

  - task: SonarCloudPrepare@4
    inputs:
      SonarCloud: 'SonarCloud'
      organization: 'adaskothebeast-github'
      scannerMode: 'CLI'
      configMode: 'manual'
      cliProjectKey: 'AdaskoTheBeAsT_date-interceptors'
      cliSources: 'libs/angular-date-http-interceptor/src/,libs/axios-interceptor/src/,libs/hierarchical-convert-to-date/src/,libs/hierarchical-convert-to-date-fns/src/,libs/hierarchical-convert-to-dayjs/src/,libs/hierarchical-convert-to-js-joda/src/,libs/hierarchical-convert-to-luxon/src/,libs/hierarchical-convert-to-moment/src/,libs/react-redux-toolkit-hierarchical-date-hook/src/'
      extraProperties: |
        sonar.tests=libs/angular-date-http-interceptor/src/,libs/axios-interceptor/src/,libs/hierarchical-convert-to-date/src/,libs/hierarchical-convert-to-date-fns/src/,libs/hierarchical-convert-to-dayjs/src/,libs/hierarchical-convert-to-js-joda/src/,libs/hierarchical-convert-to-luxon/src/,libs/hierarchical-convert-to-moment/src/,libs/react-redux-toolkit-hierarchical-date-hook/src/
        sonar.test.inclusions=**/*.spec.ts,**/*.spec.tsx,**/*.spec.js,**/*.spec.jsx,**/*.test.ts,**/*.test.tsx,**/*.test.js,**/*.test.jsx
        sonar.coverage.exclusions=libs/**/src/**/*.spec.ts,libs/**/src/**/*.spec.tsx,libs/**/src/**/*.spec.js,libs/**/src/**/*.spec.jsx,libs/**/src/**/*.test.ts,libs/**/src/**/*.test.tsx,libs/**/src/**/*.test.js,libs/**/src/**/*.test.jsx,**/test-setup.ts
        sonar.exclusions=libs/**/src/assets,libs/**/src/environments,./webpack.*.js,./jest.config.ts,./.babelrc.js,libs/**/src/api/models/*.ts
        sonar.testExecutionReportPaths=.reports/libs/angular-date-http-interceptor/test-report.sonar.xml,.reports/libs/axios-interceptor/test-report.sonar.xml,.reports/libs/hierarchical-convert-to-date/test-report.sonar.xml,.reports/libs/hierarchical-convert-to-date-fns/test-report.sonar.xml,.reports/libs/hierarchical-convert-to-dayjs/test-report.sonar.xml,.reports/libs/hierarchical-convert-to-js-joda/test-report.sonar.xml,.reports/libs/hierarchical-convert-to-luxon/test-report.sonar.xml,.reports/libs/hierarchical-convert-to-moment/test-report.sonar.xml,.reports/libs/react-redux-toolkit-hierarchical-date-hook/test-report.sonar.xml
        sonar.javascript.lcov.reportPaths=.reports/libs/angular-date-http-interceptor/coverage/lcov.info,.reports/libs/axios-interceptor/coverage/lcov.info,.reports/libs/hierarchical-convert-to-date/coverage/lcov.info,.reports/libs/hierarchical-convert-to-date-fns/coverage/lcov.info,.reports/libs/hierarchical-convert-to-dayjs/coverage/lcov.info,.reports/libs/hierarchical-convert-to-js-joda/coverage/lcov.info,.reports/libs/hierarchical-convert-to-luxon/coverage/lcov.info,.reports/libs/hierarchical-convert-to-moment/coverage/lcov.info,.reports/libs/react-redux-toolkit-hierarchical-date-hook/coverage/lcov.info
        sonar.eslint.reportPaths=.reports/libs/angular-date-http-interceptor/eslint.json,.reports/libs/axios-interceptor/eslint.json,.reports/libs/hierarchical-convert-to-date/eslint.json,.reports/libs/hierarchical-convert-to-date-fns/eslint.json,.reports/libs/hierarchical-convert-to-dayjs/eslint.json,.reports/libs/hierarchical-convert-to-js-joda/eslint.json,.reports/libs/hierarchical-convert-to-luxon/eslint.json,.reports/libs/hierarchical-convert-to-moment/eslint.json,.reports/libs/react-redux-toolkit-hierarchical-date-hook/eslint.json
        sonar.working.directory=$(Build.ArtifactStagingDirectory)/.sonar
      # sonar.css.stylelint.reportPaths=.reports/libs/**/stylelint.json

  - task: Bash@3
    displayName: 'yarn build:all'
    inputs:
      targetType: 'inline'
      script: |
        yarn build:all

  - task: Bash@3
    displayName: 'yarn test:all'
    inputs:
      targetType: 'inline'
      script: |
        yarn test:all

  # - task: Bash@3
  #   displayName: "yarn stylelint:ci"
  #   continueOnError: true
  #   inputs:
  #     targetType: "inline"
  #     script: |
  #       yarn stylelint:ci
  #     failOnStderr: false

  - task: Bash@3
    displayName: 'yarn lint:ci:all'
    continueOnError: true
    inputs:
      targetType: 'inline'
      script: |
        yarn lint:ci:all
      failOnStderr: false

  - task: SonarCloudAnalyze@4
    inputs:
      jdkversion: 'JAVA_HOME_17_X64'

  - task: SonarCloudPublish@4
    inputs:
      pollingTimeoutSec: '300'

  - task: PublishTestResults@2
    displayName: 'Publish test results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '.reports/libs/**/test-report.junit.xml'

  - task: reportgenerator@5
    displayName: 'Convert multiple coverage reports to Cobertura format'
    inputs:
      reports: '.reports/libs/**/coverage/cobertura-coverage.xml'
      targetdir: '.reports/combined'
      reporttypes: 'Cobertura'

  - task: reportgenerator@5
    inputs:
      reports: '.reports/combined/Cobertura.xml'
      targetdir: '.reports/combined/coverage'

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: 'Cobertura'
      summaryFileLocation: '.reports/libs/**/coverage/cobertura-coverage.xml'
      reportDirectory: '.reports/combined/coverage'

  - task: Npm@1
    displayName: 'Publish angular-date-http-interceptor'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/angular-date-http-interceptor'
      publishEndpoint: 'NPMPublish'

  - task: Npm@1
    displayName: 'Publish angular-typed-http-client'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/angular-typed-http-client'
      publishEndpoint: 'NPMPublish'

  - task: Npm@1
    displayName: 'Publish axios-interceptor'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/axios-interceptor'
      publishEndpoint: 'NPMPublish'

  - task: Npm@1
    displayName: 'Publish hierarchical-convert-to-date'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/hierarchical-convert-to-date'
      publishEndpoint: 'NPMPublish'

  - task: Npm@1
    displayName: 'Publish hierarchical-convert-to-date-fns'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/hierarchical-convert-to-date-fns'
      publishEndpoint: 'NPMPublish'

  - task: Npm@1
    displayName: 'Publish hierarchical-convert-to-dayjs'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/hierarchical-convert-to-dayjs'
      publishEndpoint: 'NPMPublish'

  - task: Npm@1
    displayName: 'Publish hierarchical-convert-to-js-joda'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/hierarchical-convert-to-js-joda'
      publishEndpoint: 'NPMPublish'

  - task: Npm@1
    displayName: 'Publish hierarchical-convert-to-luxon'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/hierarchical-convert-to-luxon'
      publishEndpoint: 'NPMPublish'

  - task: Npm@1
    displayName: 'Publish hierarchical-convert-to-moment'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/hierarchical-convert-to-moment'
      publishEndpoint: 'NPMPublish'

  - task: Npm@1
    displayName: 'Publish react-redux-toolkit-hierarchical-date-hook'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'publish'
      workingDir: 'dist/libs/react-redux-toolkit-hierarchical-date-hook'
      publishEndpoint: 'NPMPublish'
