{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript"
    },
    "keepClassNames": true,
    "externalHelpers": false
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true,
  "exclude": [
    "jest.config.[ct]s",
    ".*\\.spec.tsx?$",
    ".*\\.test.tsx?$",
    "./src/jest-setup.ts$",
    "./**/jest-setup.ts$",
    ".*.js$"
  ]
}
